p::first-letter {
    font-size: 70px;
    color: green;
}

p::first-line {
    font-style: italic;
    font-weight: 900;
}

li::before {
    content: "\1F917";
}

li::after {
    content: "\1F916";
}