* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    padding: 70px;
    text-align: center;
    background-color: plum;
    font-size: 36px;
    color: white;
}

nav {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: orange;
    color: white;
    font-size: 26px;
}

aside {
    height: 600px;
    background-color: greenyellow;
    width: 25%;
    float: left;
}

main {
    height: 600px;
    width: 75%;
    background-color: dodgerblue;
    float: left;
}

footer {
    clear: both;
    background-color: gray;
    padding: 20px;
    text-align: center;
}